[2020-11-03 18:39] frslater opened #2 "ACC should handle "allowVlans" differently"
### Environment
 * Application Services Version:
 * BIG-IP Version:

### Summary
It seems that ACC Charon handles the allowVlans inappropriately
Produced output looks like:
[code]
While the AS3 examples looks from (https://clouddocs.f5.com/products/extensions/f5-appsvcs-extension/latest/declarations/miscellaneous.html#virtual-service-allowing-only-specific-vlans) like:
[code]
In addition – the obj

[2020-11-04 18:21] MJF5 opened #3 "[RFE] Log with recognized and supported objects from configuration"
### Is your feature request related to a problem? Please describe.
As a user I want to see list of recognized and supported objects by ACC tool.
It gives me better insight what's going on under the hood. Moreover I can also consume that data.

### Describe the solution you'd like
Currently output is:

[code]
I'll appreciate more comprehensive tool output for recognized and supported object
it may

[2020-11-04 19:57] DumpySquare opened #4 "[RFE] Provide api interface"
### Is your feature request related to a problem? Please describe.

Users and developers would like to access ACC features and functionality via other methods (command line) or within other tools.  Furthermore, consuming a docker package can be a barrier for many (including customers).

### Describe the solution you'd like

Provide a programmatic way to interface with ACC (direct api via something

[2020-11-20 17:58] #2 closed, assigned to p-semenov-f5

[2020-11-20 17:58] #3 closed, assigned to p-semenov-f5

[2020-12-18 06:04] wiksla opened #5 "Unable to load AS3 declaration to the system it was generated on"
### Environment
 * Application Services Version: 3.23, 3.24
 * BIG-IP Version: i5820-DF 12.1.3.5-0.0.10, VE 12.1.5.1-0.0.5

### Summary
Cannot load an AS3 declaration generated by ACC on the system which UCS was used to generate the declaration

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config (VE):
[code]
2. Update the RPM package to 3.23 or 3.24 on the source B

[2021-01-06 23:27] true-mccrew opened #6 "Converter hangs"
### Environment
 * Application Services Version: 1/.8.0
 * BIG-IP Version:
[code]

### Summary
Run converter on what looks to be reasonable input.  Process hangs and has to be manually killed.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Observe the following error message:
[code]

### Expected Behavior
Run to completion, generate reasonable outp

[2021-01-20 23:01] rjouhann opened #7 "[RFE] Support qkview as an input"
### Is your feature request related to a problem? Please describe.
It would be easier for F5 PS and Sales team to use the tool if it could take qkview as an input.

### Describe the solution you'd like
Add option to take a qkview as an input in addition of the conf/SC or UCS.

[2021-01-28 18:56] azahajkiewicz opened #8 "Remark field should match format \"f5remark\""
### Environment
 * Application Services Version:
 {
    "version": "3.25.0",
    "release": "3",
    "schemaCurrent": "3.25.0",
    "schemaMinimum": "3.0.0"
}
 * BIG-IP Version:
 [root@journeys-test-system:/S2-green-P::Active:Standalone] restnoded # cat /VERSION
Product: BIG-IP
Version: 14.1.3
Build: 0.0.7
Sequence: 14.1.3-0.0.7.0
BaseBuild: 0.0.7
Edition: Final

VELOS platform

### Summary
If an

[2021-01-28 19:15] azahajkiewicz opened #9 "Converting VS with lsn pool is not compliant with schema reference"
### Environment
 * Application Services Version:
  {
    "version": "3.25.0",
    "release": "3",
    "schemaCurrent": "3.25.0",
    "schemaMinimum": "3.0.0"
}
 * BIG-IP Version:
Product: BIG-IP
Version: 14.1.3
Build: 0.0.7
Sequence: 14.1.3-0.0.7.0
BaseBuild: 0.0.7
Edition: Final

VELOS platform

### Summary
Attaching LSN pool to “snat” field  is not valid, according to the schema reference:
[F5 s

[2021-02-02 02:16] rjouhann opened #10 "[RFE] Generate iRule in text format instead of base64"
### Is your feature request related to a problem? Please describe.
When using ACC to convert an app service using an iRule, ACC is generating the iRule in base64 format.

### Describe the solution you'd like
It would be better to get the iRule to generate in text format so the user can read/edit it more easily.

### Describe alternatives you've considered
Manually convert the iRule in text from th

[2021-02-02 02:55] rjouhann opened #11 "Properties with default values in AS3 schema should not be added in the converted AS3 declaration by ACC"
### Environment
 * Application Services Version: 3.24
 * BIG-IP Version: 16.0

### Summary
translateServerAddress, translateServerPort, layer4 and snat being by default set to true in the AS3 schema, so they should not be added into the generated AS3 declaration by ACC.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Generated the following AS3 decl

[2021-02-11 05:59] #10 closed, assigned to nobody

[2021-02-11 06:44] rjouhann opened #12 "The HTTPs redirect should not showing in the rendered AS3 declaration"
### Environment
 * Application Services Version: 3.25
 * BIG-IP Version: 15.1

### Summary
When converting an HTTPS with it's redirect (80->443), we should not create the redirect AS3 app service but use the redirect80 attribute in the Service_HTTPS class.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Observe the following error message:
[code]

[2021-02-11 06:45] rjouhann opened #13 "source address isn't render correctly in AS3 converted declaration"
### Environment
 * Application Services Version: 3.25
 * BIG-IP Version: 15.1

### Summary
The source address in BIG-IP config is not translated correctly in the AS3 declaration. Look at the **0.0.0.0%10/0** in the example below.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Observe the following error message:
[code]

[2021-02-12 17:32] rjouhann opened #14 "BIG-IP config to AS3 conversion fails: TypeError: origObj[minMonitor].map is not a function"
### Environment
 * Application Services Version: 3.25
 * BIG-IP Version: 15.1

### Summary
The monitors used in this application might not be supported by ACC

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Observe the following error message:
When using VS-Code extension + ACC
[code]

When using Journeys App + ACC
[code]

### Expected Behavior
Conv

[2021-02-12 21:33] #4 closed, assigned to nobody

[2021-02-22 19:59] rjouhann opened #15 "HTTPS cert/key/chain reference missing in the ACC output"
### Environment
 * Application Services Version: AS3.25
 * BIG-IP Version: 15.1

### Summary
The below example is trying to convert a basic HTTPS app service with a client-ssl profile referenced with cert, keys and chain in /Common. The AS3 config converted references the cert, key and chain in an object which does not exist (/Common/Shared/wildcard_demo_com_nov-2021).

The SSL cert and key should

[2021-02-24 00:50] #5 closed, assigned to mdditt2000

[2021-02-24 01:01] #6 closed, assigned to mdditt2000

[2021-02-24 02:32] #7 closed, assigned to delgadillo22

[2021-02-25 13:42] DumpySquare opened #16 "[RFE] create DO output"
### Is your feature request related to a problem? Please describe.
Not a problem, but it would be super handy and drive DO adoption if we had a similar function to take a TMOS config and return all the settings DO would handle.  This could be a quick and easy way to templatize an F5's base/system settings and deploy more  devices with the same system settings.

### Describe the solution you'd like

[2021-02-25 23:40] arunhotra opened #17 "Ability to maintain individual pool member state after conversion"
### Is your feature request related to a problem? Please describe.
ACC currently does not track state of pool members. Also, after the conversion it lumps all pool members together and it is not possible to manage the state of individual pool members together.

As an example, this is how currently it converts the pool members.

![image](https://user-images.githubusercontent.com/4805118/109202370-e

[2021-03-02 16:52] makagonr opened #18 "Empty SSL certificates"
### Environment
 * Application Services Version: N/A
 * BIG-IP Version: N/A

### Summary
ACC returns an empty certificate object for certificates other than default one.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[example.txt](https://github.com/f5devcentral/f5-as3-config-converter/files/6070192/example.txt)

2. Observe the following output:
(No error is

[2021-03-08 15:40] DumpySquare opened #19 "clean up output from "project charon""
Found a reference to the original internal project name if we want to clean it up at some point.

This is ACC output.  the "remark" object param

![image](https://user-images.githubusercontent.com/3260966/110342681-4d8f1280-7ff1-11eb-917e-72594bd82e41.png)

[2021-03-08 17:48] #14 closed, assigned to mdditt2000

[2021-03-08 22:57] #19 closed, assigned to nobody

[2021-03-16 22:46] #9 closed, assigned to nobody

[2021-03-22 20:48] #12 closed, assigned to nobody

[2021-03-22 20:50] #13 closed, assigned to mdditt2000

[2021-03-25 12:44] makagonr opened #20 "Unsupported ltm node"
### Environment
 * AS3 converter: 1.11.0-RC1 used as service with "serve" flag

### Summary
When passing ltm node to ACC converter, I got this as unsupported-  I figured it out by altering the code and forcing printing unsupported obejcts to output, because of the first issue

### Steps To Reproduce
Steps to reproduce the behavior:
[bigip.conf.zip](https://github.com/f5devcentral/f5-as3-config-con

[2021-03-26 15:51] makagonr opened #21 "Unsupported list is not included in output even with verbose when using API"
### Environment
 * AS3 converter: 1.11.0-RC1 used as service with "serve" flag

### Summary
Unsupported collection is not returned even though verbose flag is sent

### Steps To Reproduce
Start the container
1. docker run -it -p 8080:8080 f5-as3-config-converter:1.11.0-RC1 serve
2. send a request passing attached bigip.conf file:
[bigip.conf.zip](https://github.com/f5devcentral/f5-as3-config-conve

[2021-03-30 21:09] #21 closed, assigned to nobody

[2021-04-01 17:18] #8 closed, assigned to mdditt2000

[2021-04-01 17:18] #15 closed, assigned to nobody

[2021-04-01 17:18] #18 closed, assigned to nobody

[2021-04-08 19:09] vtog opened #22 "Failing with v1.11, every prior release worked."
### Environment
 * Application Services Version: v1.11.0
 * BIG-IP Version: v14.1.x

### Summary
Testing this with a simple config that worked with every version until v1.11.0.

### Steps To Reproduce
Using v1.11.0 I'm seeing the following error.
ubuntu@jumpbox:/Downloads/chacon$ sudo docker run --rm -v "$PWD":/app/data f5-as3-config-converter:v1.11.0 -o data/v14-test.json -u data/v14-test.ucs
116

[2021-04-27 15:41] kjdms opened #23 "Node error in output"
### Environment
 * Application Services Version: 1.11.0
 * BIG-IP Version: 14.1.2.8
 * Red Hat 8.3

### Summary
Error when running against my UCS file. Reproducible on demand. The tool will complete if I limit it to one virtual server. Created F5 support case C3561341 to upload the UCS file in question.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Run the following command:
[code]

[2021-04-27 16:21] mdditt2000 commented on #23
@kjdms morning. Please can you send me a email message at m.dittmer@f5.com so i can get your UCS file to reproduce this and possibly open a bug. It could be viprion related.

[2021-04-27 19:36] aheilmaier commented on #22
maybe a related to the one of @vtog
Also tried as REST-API service.
With version 1.10 lgt (f5-appsvcs-acc:1.10.0)

`$ docker run --rm -v "$PWD":/app/data f5-as3-config-converter:v1.11.0 -o data/as3-out.json -u data/testucsfile.ucs
ERROR! DUPLICATE OBJECT NAME DETECTED:
abn-2020 exists as both Certificate and Certificate

ERROR! DUPLICATE OBJECT NAME DETECTED:
VisaCallback exists as both Certificat

[2021-04-27 19:42] mdditt2000 commented on #23
@kjdms got the UCS file. Thank you. Going to look at it this afternoon. Standby!

[2021-04-27 20:44] mdditt2000 commented on #23
please note ACC is community supported i have taken ownership of SR C3561341

[2021-04-27 23:03] mdditt2000 commented on #23
Created Jira request CHARON-254 for PM tracking. Requesting PD look to see why ACC cannot open this UCS file. I am going to try corkscrew aka F5 vscode extension to see if that will open this UCS file.

[2021-04-28 04:54] mdditt2000 commented on #22
will look at this issue tomorrow

[2021-05-07 20:55] mdditt2000 commented on #23
@kjdms bug is in code-review. Will provide image once available. Thanks

[2021-05-07 20:57] mdditt2000 commented on #22
@v-zhuravlev-f5 is this the same issue as https://github.com/f5devcentral/f5-as3-config-converter/issues/23?

[2021-05-12 13:38] makagonr opened #24 "Invalid SSL certificate reference in profile"
### Summary
I am trying to use ACC to convert bigip.conf with ssl profile into AS3, but the output I receive contains wrong reference to the certificate - the certificate is created inside the application, and refers to cert and key files that are inside bigip /Common partition, but the profile contains broken AS3 reference.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert attac

[2021-05-12 15:09] mdditt2000 commented on #24
@makagonr i agree with the expected behavior. Thanks for reporting! I will pas on to PD.

[2021-05-12 15:19] mdditt2000 commented on #24
Filed Jira CHARON-261 for PM tracking. Requesting resolution for ACC 1.12

[2021-05-12 16:44] makagonr commented on #24
Thanks!

śr., 12 maj 2021 o 17:19 mark dittmer ***@***.***> napisał(a):

[2021-05-13 20:12] mdditt2000 commented on #24
issue is resolved and in 1.12. Closing issue out. @makagonr i will send you the latest RC for 1.12

[2021-05-13 20:12] #24 closed

[2021-05-14 17:22] mdditt2000 commented on #23
Closing this issue. Provided RC to @kjdms

[2021-05-14 17:22] #23 closed

[2021-05-14 17:31] mdditt2000 commented on #11
Jira is done in ACC 1.11. Closing issue

[2021-05-14 17:31] #11 closed

[2021-05-21 13:11] makagonr opened #25 "Wrong reference to SSL profile"
### Environment
I have problem with 1.12 and 1.11 version of the ACC and possibly also previous ones.

Converting [bigip.conf.txt](https://github.com/f5devcentral/f5-as3-config-converter/files/6522635/bigip.conf.txt)

Results with a Virtual server with wrong reference to the profile.

Inside the configuration, VS is in partition "tenant2" and the SSL profile is placed inside /Common/Shared tenant.

[2021-05-24 12:58] DumpySquare opened #26 "[RFE] export function for ACC convert (vscode-f5-chariot)"
### request
As discussed, please export a function in the base node project to allow for direct api access in vscode-f5-chariot.

Here is how I am re-wrapping the ACC functionality for the extension:  https://github.com/f5devcentral/vscode-f5-chariot/blob/main/src/accWrapper.ts

Right now, the function just takes in the raw tmos config (no archive extraction), sets some ACC parsing options, and re

[2021-05-24 21:10] prestonhashworth opened #27 "No SSL profile reference in conversion"
Performed "Convert With ACC" using F5 ACC Chariot extension v1.11.0 on the app.conf below, and getting a resulting declaration missing any SSL profile reference. The SSL profile config is not in the unsupported section of logging:

[code]
This is the debug log output (with F5 Extension setting Log level set to verbose and NGINX log level set to debug):

[code]
And this is the resulting declaration

[2021-05-25 13:16] DumpySquare opened #28 "[BUG] data-group conversions empty or errors using f5-chariot on Windows"
## high level problem

When converting ``string`` and ``ip`` type ``data-groups``, records do not get converted.

Converting ``integer`` type ``data-group`` results in a runtime error.

TMOS version: 14.1
ACC version: 1.12.0

 ---

## string/ip data-group example

### TMOS configs

[code]

### ACC output

[code]

### ACC logs

[code]

---

## integer data-group details

### tmos config

[code]

##

[2021-05-25 18:37] sschadwick commented on #22
@mdditt2000 They look like the same issue, resolved in v1.12.0.

[2021-05-25 19:44] DumpySquare commented on #28
So, this may be a different problem.  i was able to get this working for string/ip datagroups.

However, two things to note:
- this was on a linux machine (running vscode/acc-chariot extension)
  - windows produces the empty data-groups above (running vscode/acc-chariot extension)
- still doesn't seem to like bracket in the data

### input
[code]
### output
[code]

## integer data-group still fail

[2021-05-25 20:12] mdditt2000 commented on #16
Spike CHARON-269 created for PM tracking. Spike in progress

[2021-05-25 20:15] mdditt2000 commented on #17
@arunhotra closing this issue. ACC will only covert the input as shown above. ACC wont provide a expanded view. This can be done using GET request on the AS3 API using tools like postman or the F5 VScode extension.

[2021-05-25 20:15] #17 closed, assigned to nobody

[2021-05-25 20:17] mdditt2000 commented on #20
This was resolved in ACC 1.12

[2021-05-25 20:17] #20 closed

[2021-05-25 21:06] vtog commented on #22
Just tested with v1.12.0, seeing same issue, and no output

❯ docker run --rm -v $PWD:/app/data/ f5-as3-config-converter:v1.12.0 -o data/clean-install.json -u data/clean-install.ucs
2021-05-25 21:05:24 INFO 175 BIG-IP objects detected total
2021-05-25 21:05:24 INFO 35 BIG-IP objects recognized by AS3
2021-05-25 21:05:24 INFO 22 BIG-IP objects supported by ACC
2021-05-25 21:05:24 INFO 9 AS3 stanzas

[2021-05-26 16:38] azahajkiewicz opened #29 "Renaming duplicated objects' name results in invalid declaration"
### Environment
 * Application Services Version: 1.12
 * appsvcs: f5-appsvcs-3.25.0-3.noarch.rpm
 * BIG-IP Version: 15.1.2.1-0.0.3.0 (converting config from 12.1.2.2.0.276.0)

### Summary
When ACC recognizes same names of objects (of different types), it adds a suffix, e.g.: "_virtual_dup", which results in an invalid name on BIG-IP in some cases (eg. virtual server's name: "10.10.10.10" is valid

[2021-05-26 19:18] frslater opened #30 "policyEndpoint references missing Application class name"
### Environment
 * Application Services Version: 1.11.0

### Summary
When virtuals have ltm policies attached, the resulting AS3 config is an Endpoint_Policy class object in /Common/Shared and a "policyEndpoint" property in the Service class object.  ACC is specifying policyEndpoint without "Shared" (the Application class name).  i.e. "policyEndpoint": "/Common/xxx" should be   "policyEndpoint": "

[2021-05-26 19:25] frslater opened #31 "Policy_Endpoint class missing "type" property"
### Environment
 * Application Services Version: 1.11.0

### Summary
When an ltm policy is converted, the required "type" property is sometimes missing in the resulting declaration.

### Steps To Reproduce
Steps to reproduce the behavior:
Convert following config:
[code]

### Actual Behavior
[code]
Posting this to AS3 results in a validation error because the "type" property is missing.

### Expec

[2021-05-26 19:38] mdditt2000 commented on #25
@makagonr everything is good except for

[code]

I am going to request DEV remove the /Common/Shared/. Should be

                "certificates": [
                    {
                        "certificate": "/Common/custom_ssl_cert_key"
                    }

[2021-05-26 19:42] frslater opened #32 "profileBotDefense references are missing"
### Environment
 * Application Services Version: 1.11.0

### Summary
When bot-defense profiles are converted, the declaration contains the profileBotDefense property in the appropriate Service classes, but as an object with the "use" property instead of "bigip".  "use" implies that the definition is within the declaration.  Since AS3 does not support bot-defense definitions, it cannot be in the de

[2021-05-26 19:44] mdditt2000 commented on #25
Add CHARON-300 in in-play for PD to pickup. Possible ACC 1.13 release. Please watch the milestone

[2021-05-26 20:08] v-zhuravlev-f5 commented on #30
Charon-302 Jira issue created to track it.

[2021-05-26 20:09] mdditt2000 commented on #32
Created Jira CHARON-301 for PM tracking. Currently no milestone.

[2021-05-26 20:11] v-zhuravlev-f5 commented on #31
Charon-303 Jira issue created to track it.

[2021-05-26 22:27] mdditt2000 commented on #22
@sschadwick @vtog is still seeing this issue on his ubuntu@jumpbox. I am going to create a issue in Jira

[2021-05-26 22:33] mdditt2000 commented on #22
created CHARON-306 for PM tracking. No milestone at this time

[2021-05-27 10:58] makagonr commented on #25
@mdditt2000 This reference is to AS3 object, so it needs to be "/Common/Shared/custom_ssl_cert_key", the certificate object itself, can refer to bigip cert object using "bigip": "/Common/cert..."

[2021-05-27 14:11] sschadwick commented on #22
My mistake, #23 and the issue @aheilmaier mentioned should be addressed in v1.12.0.

[2021-05-28 09:10] azahajkiewicz opened #33 "Do not add reference path to the objects residing in the same tenant"
### Environment
 * Application Services Version: 1.11.0
 * BIG-IP Version:  15.1.2.1-0.0.3.0

### Summary
When Charon creates tenant/application, certs and iRules have full path references inside the same tenant ("certificate": "tenant_2/application_2/certificate_default"), which causes deployment error.

[code]

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:

[2021-05-28 11:44] azahajkiewicz opened #34 "Nonexistent property for Service_Generic: vlansEnabled"
### Environment
 * Application Services Version: f5devcentral/f5-as3-config-converter:1.11.0
 * BIG-IP Version: 15.x

### Summary
Charon wrongly convers VS property: vlans-enabled to vlansEnabled instead of allowVlans

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Observe the following error message:
[code]

when deploying generated declaration:

[

[2021-05-28 15:40] azahajkiewicz opened #35 "Virtual addresses duplicated in a virtual server"
### Environment
 * Application Services Version: 1.11.0
 * BIG-IP Version: 15.1.x

### Summary
Declaration created by ACC is invalid: virtual server contains duplicated items.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Observe the following error message:

Invalid declaration created by Charon:

[code]

Error:
[code]

### Expected Behavior
Ther

[2021-05-28 16:37] azahajkiewicz commented on #34
Please double check scenario when vlans-enabled in bigip.conf is empty - if allowVlans property should be present  / what should be the exact value of allowVlans property .

[2021-05-28 16:49] azahajkiewicz opened #36 "PEM profile property connectionOptimizationService value: "none' is invalid"
### Environment
 * Application Services Version: 1.11.0
 * BIG-IP Version: 15.x

### Summary
PEM property

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Observe the following error message:

Declaration created by Charon:
[code]

Error returned:

[code]

### Expected Behavior
 Not sure, but  "connectionOptimizationService": { "use": "none"  }   is

[2021-06-03 05:45] raZorTT opened #37 "Pool members aren't being added to AS3 pool"
### Environment
 * BIG-IP Version: 12.1.5.3

### Summary
Tried using vscode-f5-chariot (v1.12.0) to convert TMSH config into AS3. When I run the conversion over a simple virtual server with a single pool member, the member isn't part of the AS3 output.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Observe the AS3 output:
[code]
3. Observe the ACC

[2021-06-04 21:45] p-semenov-f5 commented on #32
Hello!

I tried to solve that and found that security 'bot-defense asm-profile' is not fully supported in as3 and big-ip.

I can create 'bot-defense profile', but not 'bot-defense asm-profile'. That profiles has absolutely different fields.

I could load last one only with 'tmsh load sys config from-terminal merge'.

And also I tried create preexisted objects and post AS3 with right reference (as3

[2021-06-08 17:56] mdditt2000 commented on #30
Merge branch 'policyEndpoint' into 'develop' - Closing issue. Will be released in ACC 1.13

[2021-06-08 17:56] #30 closed

[2021-06-08 18:06] mdditt2000 commented on #26
Created Jira CHARON-314 for PM tracking.

[2021-06-08 19:47] mdditt2000 commented on #27
Sorry for the delay in responding. You issues are mostly resolved. After conversion certs are getting added correct. What is not correct is the "certificate": "/Common/Shared/application1" but this is getting fixed in ACC 1.13 https://github.com/f5devcentral/f5-as3-config-converter/issues/25

[code]
https://github.com/mdditt2000/f5-appsvcs-acc/blob/master/Github/27/as3-output.json

This issue with

[2021-06-08 19:48] mdditt2000 commented on #27
Issue is resolved in ACC 1.12. Closing issue

[2021-06-08 19:48] #27 closed

[2021-06-08 20:19] mdditt2000 commented on #28
@DumpySquare conversion looks good

https://github.com/mdditt2000/f5-appsvcs-acc/blob/master/Github/28/as3-output.json

[code]
Looks look good

[code]
Please confirm before i close it out

[2021-06-08 20:21] mdditt2000 commented on #22
Setting milestone of 1.13 but cannot confirm until completed, however item is in the issue.

[2021-06-08 20:52] mdditt2000 commented on #28
Broken on Windows 10 environment

[code]
Logs
[code]

[2021-06-08 21:08] mdditt2000 commented on #28
Filed Jira CHARON-315 for PM tracking

[2021-06-08 21:23] mdditt2000 commented on #29
@azahajkiewicz completely agree! ACC should prefix the **propertyName \"10.33.192.133_virtual_dup** correctly. I like you suggestion of "virtual_dup_10.33.192.133" instead of "10.33.192.133_virtual_dup" and re-naming objects which start with a number. Creating a PD bug

[2021-06-08 21:24] mdditt2000 commented on #29
Logs from conversion

[code]

[2021-06-08 21:30] mdditt2000 commented on #29
Filed Jira CHARON-316 for PM tracking

[2021-06-08 21:45] mdditt2000 commented on #33
@azahajkiewicz thanks for submitting this issue. Completely agree with the referencing! Creating a PD BUG in Jira.

[2021-06-08 21:49] mdditt2000 commented on #33
Created Jira CHARON-317 for PM tracking

[2021-06-08 22:00] mdditt2000 commented on #34
Filed Jira CHARON-318 for PM tracking

[2021-06-08 22:10] mdditt2000 commented on #35
Create Jira CHARON-319 for this issue. @azahajkiewicz please could you upload the ltm config to the Jira

[2021-06-08 22:16] mdditt2000 commented on #36
Created Jira CHARON-320 for PM tracking

[2021-06-08 22:21] mdditt2000 commented on #37
Added fine testing f5-chariot using mac

[code]
https://github.com/mdditt2000/f5-appsvcs-acc/tree/master/Github/37

Trying Windows

[2021-06-08 22:28] mdditt2000 commented on #37
breaks using windows. Mac is fine https://github.com/mdditt2000/f5-appsvcs-acc/tree/master/Github/37

[2021-06-08 22:34] mdditt2000 commented on #37
Create Jira CHARON-321 for PM tracking

[2021-06-09 19:33] mdditt2000 commented on #26
@DumpySquare this was picked up by @v-zhuravlev-f5 Changing to ACC 1.13 -- Woot Woot!!

[2021-06-15 10:36] makagonr opened #38 "clientCertificate should be string instead of list"
### Environment
ACC 1.12

### Summary
According to AS3 schema, inside "TLS_Client" class, field "clientCertificate" should be string, but 1.12 ACC produces a list of strings.

Take a look at field "clientCertificate" under this link:
https://clouddocs.f5.com/products/extensions/f5-appsvcs-extension/latest/refguide/schema-reference.html?highlight=tls_client#tls-client

### Steps To Reproduce
Try to

[2021-06-16 05:46] mdditt2000 commented on #34
Merge branch 'vlans_enabled' into 'develop. Closing issue as complete

[2021-06-16 05:46] #34 closed

[2021-06-16 05:48] mdditt2000 commented on #31
Issue solved and merged. Closing issue

[2021-06-16 05:48] #31 closed

[2021-06-21 21:23] p-semenov-f5 commented on #35
I need get config file for try to reproduce that problem.

You can untar ucs file and provide only part of .conf file with virtual server and virtual addresses.

[2021-06-22 00:46] mdditt2000 commented on #35
@p-semenov-f5 check Jira CHARON-319 for the UCS

[2021-06-22 22:02] andreykashcheev opened #39 "Generated AS3 declaration is invalid when virtualAddress is a reference to serviceAddress"
### Environment
 * Application Services Version: 1.12.0
 * BIG-IP Version: v16

### Summary
A clear and concise description of what the bug is.
Please also include information about the reproducibility and the severity/impact of the issue.

ACC generated AS3 declaration and attempt to post generated AS3 declaration results with 422 response:
[code]

this validation error is related to the followin

[2021-06-28 13:42] makagonr opened #40 "Invalid "chainCA" value in Certificate object"
### Environment
 * Application Services Version: 1.12

### Summary
A clear and concise description of what the bug is.
Please also include information about the reproducibility and the severity/impact of the issue.

I have found a weird entry in converted declaration certificate object:

            "custom_ssl_cert_key": {
                "class": "Certificate",
                "certificate": {

[2021-06-28 15:44] mdditt2000 commented on #22
Resolved in ACC 1.13

[2021-06-28 15:44] #22 closed

[2021-06-28 15:48] mdditt2000 commented on #25
Issue resolved in ACC 1.13

[2021-06-28 15:48] #25 closed

[2021-06-28 15:49] vtog commented on #22
Confirmed fix in my test environment.... Thanks!

[2021-06-28 15:51] mdditt2000 commented on #26
Merge branch '314-chariot-function' into 'develop' -- Resolved in ACC 1.13

[2021-06-28 15:51] #26 closed

[2021-06-28 15:52] mdditt2000 commented on #29
Merge branch 'virtual_address_dups' into 'develop'

[2021-06-28 18:45] p-semenov-f5 commented on #33
I couldn't reproduce the problem. All that is working with ACC 1.13 and AS3 3.28. You should try update your environment.
Such long references in irules are working.

Please confirm. Full configs are in jira task.

[2021-06-28 18:53] mdditt2000 commented on #33
thanks @p-semenov-f5 @azahajkiewicz please validate with ACC 1.13 and AS3 3.28

[2021-06-29 17:39] mdditt2000 commented on #35
Merge branch 'dedup_virtual_add' into 'develop' thanks @p-semenov-f5. Closing issue

[2021-06-29 17:39] #35 closed

[2021-06-29 22:19] v-zhuravlev-f5 commented on #28
I tested it on windows 10 corporate laptop
![image](https://user-images.githubusercontent.com/66441689/123874207-a3632f80-d8ec-11eb-90c6-f0e0ca7d5b20.png)

ltm data-group internal /partition_1/string-datagroup {
    records {
        /api/test/app1 {}
    }
    type string
}
ltm data-group internal /partition_2/address_datagroup {
    records {
        1.1.1.1/28 {
            data /
        }

[2021-06-29 22:40] DumpySquare commented on #37
I think this is related to #28.  I will dig into that one and report back.

[2021-07-06 22:13] DumpySquare commented on #28
## update

I think there is alot going on here.  So, I'll try to break this down and provide an update with the latest v1.13.0 release:

- The windows aspect seems to be resolved when converting line returns to linux based (fix included in v1.13.0 extension released 7/6/2021)
- The integer data-group error was because it didn't have a partition definition (so, no problem there)
- There still seems

[2021-07-06 22:15] DumpySquare commented on #37
This should be fixed with the release of vscode-f5-chariot v1.13.0 released 7.6.2021.  There was a problem with line returns in windows.  The fix was to standardize all line returns on execution.

Please confirm this is working with latest version.

[2021-07-06 23:21] v-zhuravlev-f5 commented on #28
Looks like all errors related to special characters in values. and not related to Windows or chariot. Would be great if you can create a separate issue related to special chars handling. Thanks.

[2021-07-07 01:24] DumpySquare commented on #28
As discussed above, closing this issue to start a fresh one for the special chars.

[2021-07-07 01:24] #28 closed

[2021-07-07 16:13] DumpySquare opened #41 "[BUG] special chars in data-group data values"
## history

As discussed in #28, starting a new issue to track special characters in data-group data values breaking conversions

## data

Seems that special characters "some data with special !@#${}[]12345", including quotes, are currently not parsed as expected

### example config
[code]
### output
[code]

### things to note
- app2 string data-group missing value data
- key 3 from string data-gr

[2021-07-08 13:27] strathdaigeil opened #42 "Received a fatal error looking for a property that doesn't seem to exist"
### Environment
 * AS3 v 3.29.0:
 * BIG-IP Version: 15.1.2

### Summary
Attempting to convert a configuration file, I receive a "cannot read property '<vs-name>' of undefined.  I removed an irule line that referenced the vs-name in question and reran the acc.  this time, I received:
2021-07-07 17:52:44 ERROR Error parsing input file. Please email us at solutionsfeedback@f5.com and include the foll

[2021-07-08 16:14] mdditt2000 commented on #42
@strathdaigeil please can you provide me with the bigip.conf file or the full UCS. Please contact me at m.dittmer@f5.com

Are you running ACC on a windows, mac or linux machine?

[2021-07-08 17:39] mdditt2000 commented on #41
Create Jira CHARON-389 for PM tracking

[2021-07-08 21:15] mdditt2000 commented on #37
Change By: | @v-zhuravlev-f5
-- | --
Done
In Code Review Done

Closing issue

[2021-07-08 21:16] #37 closed

[2021-07-09 22:12] strathdaigeil commented on #42
Will reply from my f5 email address.

***@***.***

On Thu, Jul 8, 2021 at 12:14 PM mark dittmer ***@***.***>
wrote:

--
Nemo me impune lacessit.

[2021-07-14 12:16] makagonr opened #43 "Add support for username and passwords/passphrases is input"
### Is your feature request related to a problem? Please describe.
Inside UCS/config file, there might be passwords and passphrases. AS3 schema also allows them.

Example for password
[code]

Example for passphrase
[code]

### Describe the solution you'd like
The passwords/passphrases are added to output objects according to AS3 schema:
[code]
[code]
According to:
https://clouddocs.f5.com/products

[2021-07-20 20:24] afreudenreich opened #44 "Received an error while running f5-as3-config-converter"
### Environment
 * Application Services Version: f5-as3-config-converter:v1.13.0
 * BIG-IP Version: 14.1.4

### Summary
When running the command without virtual server filter:
[code]

When running f5-as3-config-converter with virtual server:
[code]
### Steps To Reproduce
Always.

### Expected Behavior
No error.

### Actual Behavior
Different errors depending on filter parameters.

I ran it from an

[2021-07-23 17:27] afreudenreich opened #45 "Conversion does not seem to finish"
### Environment
 * Application Services Version: f5-as3-config-converter:v1.13.0
 * BIG-IP Version: 14.1.4

### Summary
When running the conversion against a ucs file it does not seem to finish - no visible output (I let it run for more than 6 hours before killing it).

### Steps To Reproduce
docker run --rm -v  "$PWD":/app/data f5-as3-config-converter:v1.13.0 -o data/as3_conversion_test.json -u d

[2021-07-26 15:37] mdditt2000 commented on #41
Merge branch '389-datagroup-conversion' into 'develop' -- Issue resolved. Closing

[2021-07-26 15:37] #41 closed

[2021-07-26 15:39] mdditt2000 commented on #32
There is no such instance as "security bot-defense asm-profile" in the AS3 code, which means it is not supported, closing this bug as blocked/invalid

[2021-07-26 15:39] #32 closed

[2021-07-26 15:46] mdditt2000 commented on #36
Merge branch '320-pem-property' into 'develop' - resolved in ACC 1.13, Closing

[2021-07-26 15:46] #36 closed

[2021-07-26 16:07] mdditt2000 commented on #38
Output

[code]
Line 24 https://github.com/mdditt2000/f5-appsvcs-acc/blob/master/Github/38/as3-convert.json

Creating Jira

[2021-07-26 16:13] mdditt2000 commented on #38
Created CHARON-400 for PM tracking.

[2021-07-26 16:36] mdditt2000 commented on #39
Created Jira CHARON-401 for PM tracking

[2021-07-26 16:58] #40 closed

[2021-07-26 17:18] frslater commented on #43
The "protected" strings are base64, so if you forget which is which, just decode them.  One is {"alg":"dir","enc":"f5sv"} and the other is {"alg":"dir","enc":"none"}.

[2021-07-26 17:18] mdditt2000 commented on #42
@strathdaigeil i never received the bigip.conf. Please could you send me the configuration or open a SR. I need to the configuration to recreate this issue. Also please can you try ACC 1.13

[2021-07-26 21:16] mdditt2000 commented on #43
Discussing on the DEV call this Thursday.

[2021-07-26 21:23] mdditt2000 commented on #43
https://github.com/mdditt2000/f5-appsvcs-acc/tree/master/Github/40

[2021-08-04 17:51] mdditt2000 commented on #44
Reproduced this issue. Created Jira for PM tracking CHARON-405

2021-08-04 17:41:17 WARN ERROR! DUPLICATE OBJECT NAME DETECTED:

[2021-08-04 18:01] mdditt2000 commented on #45
@afreudenreich i am able to open your UCS file with the vscode f5 extension and browse the application. If i convert each application you should have a issue. Do you have some time to setup a meeting. Please can we schedule something with @buulam

[2021-08-04 18:03] mdditt2000 commented on #33
Resolved in ACC 1.13. Cannot reproduce this issue. Closing

[2021-08-04 18:03] #33 closed

[2021-08-04 18:07] mdditt2000 commented on #43
Created Jira CHARON-404 for PM tracking

[2021-08-04 18:18] mdditt2000 commented on #42
Closing issue. No response. Please reopen if issue continues

[2021-08-04 18:18] #42 closed

[2021-08-04 21:01] afreudenreich commented on #45
@mdditt2000 thanks Mark - I did not know about the F5 extension for VSCode - that looks promising!
I still have asked Buu to setup a meeting.

[2021-08-06 22:52] mdditt2000 commented on #16
Added to ACC 1.14 as a preview. Will update this issue with supported classes and docs

[2021-08-09 21:37] mdditt2000 commented on #43
@makagonr issue is resolved in a Pre-release. Please get the image from the link in the Jira CHARON-404. Closing this out

[2021-08-09 21:37] #43 closed

[2021-08-12 17:41] mdditt2000 commented on #44
Resolved! Can be closed out.

[2021-08-12 18:04] mdditt2000 commented on #45
Issue recreated

[code]

[2021-08-12 18:15] mdditt2000 commented on #45
Created Jira CHARON-423 for PM tracking

[2021-08-12 18:18] mdditt2000 commented on #38
Found bug in found a bug in loadCertsAndKeys. Issue resolved

[2021-08-12 18:18] #38 closed

[2021-08-12 22:29] mdditt2000 commented on #45
Unpacked config has issues only in bigip.conf. All other .conf files looks good

[2021-08-13 19:51] mdditt2000 commented on #45
Issue solved - Merge branch

[2021-08-13 19:51] #45 closed

[2021-08-13 19:56] mdditt2000 commented on #44
Received update from Dev: That issue is not yet resolved, so shouldn't be closed:

Reopened!

[2021-08-13 21:18] #44 closed

[2021-08-20 10:03] azahajkiewicz opened #46 "TLS_Server: invalid properties added to a declaration"
### Environment
 * Application Services Version: f5devcentral/f5-as3-config-converter:1.14.0
 * BIG-IP Version: 14.1.3

### Summary
BIG-IP configuration based on AS3 declaration:
https://clouddocs.f5.com/products/extensions/f5-appsvcs-extension/latest/userguide/examples.html#example-2-https-application (config moved to a partition by PerApp) converted with Charon fails to deploy.

### Steps To Rep

[2021-08-20 14:26] azahajkiewicz opened #47 "Missing allowVlans key"
### Environment
 * Application Services Version: f5devcentral/f5-as3-config-converter:1.14.0
 * BIG-IP Version: 14.1.3

### Summary
If virtual is enabled on a vlan:  vlans { /Common/vlan_internal }, Charon does not convert the property allowVlans, instead it uses it's value as a key:

                "vlans": {
                    "/Common/vlan_internal": ""
                },

### Steps To Reprod

[2021-08-20 15:16] azahajkiewicz commented on #47
To clarify:
Virtual can be configured in three ways:
1. Enabled on all vlans (no property in VS):
[code]
-------> no vlan related property in AS3 declaration

2. Enabled on a vlan(s):
[code]

or
[code]
                "allowVlans": [
                    "/Common/vlan_internal"
                ],

or

                "allowVlans": [],
[code]
(vlans-disabled property is the default one, so not neces

[2021-08-23 13:36] TritiumAE opened #48 "UnhandledPromiseRejectionWarning"
### Environment
 * Application Services Version: v1.14.0
 * BIG-IP Version: 15.1.2.1 Build 0.0.10 Point Release 1

### Summary
docker run --rm -v C:\Docker-F5\app\data:/app/data f5-as3-config-converter:v1.14.0 -o data/output.json -c data/input.conf
or
docker run --rm -v C:\Docker-F5\app\data:/app/data f5-as3-config-converter:v1.14.0 -o data/output.json -u data/input.ucs

### Steps To Reproduce
Ste

[2021-08-23 20:35] mdditt2000 commented on #48
I believe this is the same as GitHub Issue: https://github.com/f5devcentral/f5-as3-config-converter/issues/44

Please can you pull the host fix from
[code]

[2021-08-23 22:23] mdditt2000 commented on #46
Filed Jira CHARON-428 for PM tracking. Added to in-play to be picked up by DEV

[2021-08-24 11:22] TritiumAE commented on #48
Yes, that seems to work successfully now with this rc.  Thanks!

Michael Pearce
________________________________
From: mark dittmer ***@***.***>
Sent: Monday, August 23, 2021 4:35:26 PM
To: f5devcentral/f5-as3-config-converter ***@***.***>
Cc: TritiumAE ***@***.***>; Author ***@***.***>
Subject: Re: [f5devcentral/f5-as3-config-converter] UnhandledPromiseRejectionWarning (#48)

I believe this is th

[2021-08-25 21:38] ajgerace opened #49 "Conversion of TCP profile failing using vscode ACC Chariot extension"
### Environment
* F5 Extension version: v3.1.0
* F5 ACC Chariot version: v1.13.0

### Summary
Attempting to convert a TCP profile using the VScode F5 Extension with the ACC Chariot extension fails to convert and throws an error and nothing is converted

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config snippet:
[code]

2. Observe the following error message:
[code

[2021-09-01 19:48] mdditt2000 commented on #49
Merge branch 'CHARON-433-location-bug' into 'develop'. --- Resolved

[2021-09-01 19:48] #49 closed, assigned to nobody

[2021-09-01 23:04] difanzhao opened #50 "Error extracting specified UCS, please check the filepath"
### Environment
 * Application Services Version: tried both v1.13.0 and v1.14.0
 * BIG-IP Version: 14.1.4.3

### Summary
I am trying to convert my UCS file for the first time on my Redhat 7.8 box but I constantly getting this extracting error.
The UCS file should be ok. I sent the file to my F5 account rep and he is able to convert it.

### Steps To Reproduce
Steps to reproduce the behavior:
Run t

[2021-09-06 08:31] azahajkiewicz commented on #46
@mdditt2000 , @p-semenov-f5: configuration provided

[2021-09-08 20:32] mdditt2000 commented on #39
Merge branch 'CHARON-401-virtual-address-ref' into 'develop'

[2021-09-08 20:32] #39 closed

[2021-09-08 20:33] mdditt2000 commented on #46
Merge branch 'CHARON-428-tls-server-extra-props' into 'develop'

[2021-09-08 20:33] #46 closed

[2021-09-08 20:43] mdditt2000 commented on #47
Created Jira CHARON-445 for PM tracking

[2021-09-08 20:44] mdditt2000 commented on #16
docker run --rm -v  "$PWD":/app/data f5-as3-config-converter:1.15.0-RC2 -o data/v14-output.json -u data/v14-test.ucs --declarative-onboarding

Can be closed. More classes supported in ACC 1.15, 1.16 etc.

[2021-09-08 20:44] #16 closed

[2021-09-08 20:45] mdditt2000 commented on #50
@difanzhao please can i get access to the UCS file.

[2021-09-09 17:06] mdditt2000 commented on #50
Will check today on a RedHat machine!

[2021-09-09 22:33] mdditt2000 commented on #50
@difanzhao you seeing the following issue below?

[code]

[2021-09-11 04:45] difanzhao commented on #50
Hi

[2021-09-11 04:49] difanzhao commented on #50
Sorry I fat finger'ed and "closed" the case by mistake... yes Mdditt2000, this is exactly the error I see... Do you still need the ucs file or you are able to reproduce the issue? The ucs file should be good because my F5 account rep is able to convert it with the same acc version running on his ubuntu WSL.

[2021-09-13 14:02] jszczepanski opened #51 "Issue with parsing a list of unnamed maps in ltm profile fix"
### Environment
 * Application Services Version: 1.14.0
 * BIG-IP Version: N/A

### Summary
Currently in a spot where config contains a list of unnamed maps as shown below, only the last one is being added in the output as3 declaration. I currently know of only one as3-supported field formatted like this - in `ltm profile fix`; unsure if there are any other.

### Steps To Reproduce
Steps to reprod

[2021-09-13 15:27] jszczepanski opened #52 "Add partial support for ltm data-group external"
### Is your feature request related to a problem? Please describe.
In journeys app we'd like to allow migrating both internal and external data groups, since the required data is already present inside the ucs files. Internal ones are already supported by ACC, but the external ones are not, even though they do have AS3 support.

Currently trying to convert a `ltm profile fix` + `ltm data-group ext

[2021-09-13 20:34] mdditt2000 commented on #47
Merge branch 'CHARON-445-allow-vlans' into 'develop' --- Closing

[2021-09-13 20:35] #47 closed

[2021-09-13 20:36] mdditt2000 commented on #50
no worries. I have made the same mistake many times. No need for the UCS file as i can recreate the issue. I will file a internal JIRA with product development. ACC cannot seem to locate the source folder.

[2021-09-13 20:44] mdditt2000 commented on #50
Created CHARON-449 for internal tracking.

[2021-09-13 20:45] mdditt2000 commented on #50
Setting milestone but cannot commit until meeting with dev

[2021-09-13 20:59] mdditt2000 commented on #51
Create internal issue CHARON-450 for PM tracking.

[2021-09-13 21:02] mdditt2000 commented on #52
Filed internal Jira CHARON-450. Simular to issue https://github.com/f5devcentral/f5-as3-config-converter/issues/51

[2021-09-14 17:02] makagonr opened #53 "[RFE] Add passphrase handling for ssl profiles"
### Is your feature request related to a problem? Please describe.
I am not able to convert profiles that contain passphrases

### Describe the solution you'd like
I would like to add passphrase handling the same way as you did for passwords inside monitors

### Additional context

[code]

[2021-09-15 04:41] difanzhao commented on #50
Thanks Mark!

[2021-09-15 16:59] azahajkiewicz commented on #8
Hello, error still observed.

`journeys.errors.AS3DeclarationDeploymentError: iControl REST error: code: 422, message: declaration is invalid, errors: [‘/testing_tenant/application_1/VS_https/remark: should match format “f5remark”’]`

Description of the virtual:
`“Standard Virtual enabled on 443 with ssl profiles and custom cert/key”`

Remark can have up to 64 signs...
Can you please review the co

[2021-09-17 16:50] mdditt2000 commented on #53
CHARON-452 filed for internal tracking!

[2021-09-20 12:44] jszczepanski opened #54 "Some ltm traffic-matching-criteria fields result in invalid declarations"
### Environment
 * Application Services Version: 1.14 ACC, 3.30 AppSvcs
 * BIG-IP Version: N/A

### Summary
Converting a virtual with connected `traffic-matching-criteria` object having either `destination-port-list` or `destination-address-inline` fields defined results in an invalid declaration. The port list gets converted into an array (while Service.virtualPort accepts only integers), and add

[2021-09-20 21:06] mdditt2000 commented on #53
Resolved

[2021-09-20 21:07] #53 closed

[2021-09-20 21:07] mdditt2000 commented on #52
Resolved

[2021-09-20 21:07] #52 closed

[2021-09-20 21:08] mdditt2000 commented on #50
Resolved

[2021-09-20 21:08] #50 closed

[2021-09-20 21:08] mdditt2000 commented on #51
Resolved

[2021-09-20 21:08] #51 closed

[2021-09-21 12:56] jszczepanski opened #55 "Error when converting a conf spanning Common and a partition if no objects are to be placed in Common/Shared"
### Environment
 * Application Services Version: 1.15 ACC
 * BIG-IP Version: N/A

### Summary
If the uploaded conf file includes objects from both a partition and Common, ACC will raise an error if no objects end up getting placed inside the Common tenant in the resulting declaration.

### Steps To Reproduce
1. Convert following config:
[code]

2. Observe the following error message:
[code]

[2021-09-21 17:00] azahajkiewicz opened #56 "Error converting configuration file"
### Environment
 * Application Services Version: 1.15.0
 * BIG-IP Version: -

### Summary
Cannot convert bigip.conf.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Observe the following error message:
[code]

[code]

### Expected Behavior
Configuration translated or marked as unsupported.

For the configuration file, please reach out to a.zahajkiew

[2021-09-23 21:45] p-semenov-f5 commented on #56
Issue opened for AS3:
https://github.com/F5Networks/f5-appsvcs-extension/issues/513

[2021-09-24 17:07] p-semenov-f5 commented on #56
https://jira.pdsea.f5net.com/browse/CHARON-463

[2021-09-28 10:09] LukaszBrzoskof5 opened #57 "proxyCaCert used by converter tool despite schema do not seems to support this."
### Environment
 * Application Services Version: 3.31.0
 * BIG-IP Version: 16.1.0

### Summary
Converter tool seems to use proxyCaCert in declaration while it reports error during deployments.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]
result in:
[code]

2. Observe the following error message:
[code]

### Expected Behavior
Conversion should be done

[2021-09-28 12:41] LukaszBrzoskof5 opened #58 "Issue with service class definition."
### Environment
 * Application Services Version: 3.31.0
 * BIG-IP Version: 16.1.0

### Summary
Converter tool do not properly adjust class

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]
2. Observe the following error message:
[code]

### Expected Behavior
See more on: https://github.com/F5Networks/f5-appsvcs-extension/issues/517

Conversion should use

[2021-09-28 14:32] LukaszBrzoskof5 opened #59 "Some objet in configuration gets reference to Shared location - despite they are not in initial config."
### Environment
 * Application Services Version: 3.31.0
 * BIG-IP Version: 16.1.0

### Summary
Some objet in configuration gets reference to Shared location - despite they are not in initial config.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Observe the following error message:
[code]

### Expected Behavior
objects reference should state as in

[2021-09-28 15:41] mdditt2000 commented on #59
@LukaszBrzoskof5 thanks for filing these issues. I will file a issue to get this resolved. Using /Common/Shared was ACC orginal thought of how the configuration would be played back to BIG-IP. By the use a shared policy in Common. Since then we received a-lot of feedback.

Should be /Common/https_test_ssl_profile

Please let me know if you see any others

PM Task: Submit Jira

[2021-09-28 15:50] mdditt2000 commented on #59
Filed CHARON-464 for PM tracking

[2021-09-28 17:57] azahajkiewicz commented on #59
Hi Mark, same issue for

[code]

AS3 output:

[code]

Two issues here:
1. "Use" instead of "bigip".
2. "Shared" instead of Common.

Proper output should be:
"bigip": "/Common/CERTBUNDLE-V6.crt"

Could you please add this case to Jira, so it's also fixed?

[2021-09-28 18:57] mdditt2000 commented on #59
thanks Alex. I have updated the Jira

[2021-09-28 19:41] mdditt2000 commented on #58
@LukaszBrzoskof5 service generic is fine. ACC is going to provide your with a framework which you need to customize and make the modification to deploy to AS3. I will consult the team to determine if there are any modifications.

[2021-09-29 19:53] mdditt2000 commented on #58
@p-semenov-f5 did additional testing and ACC is doing the correct conversion for AS3

[code]

So it is not hard requirement here fro service generic to not allow TLS.. I think it is not a bug.

[2021-09-30 18:17] p-semenov-f5 commented on #55
Jira issue created:
https://jira.pdsea.f5net.com/browse/CHARON-467

[2021-09-30 18:44] p-semenov-f5 commented on #54
Jira issue:
https://jira.pdsea.f5net.com/browse/CHARON-468

[2021-09-30 19:56] mdditt2000 commented on #57
Created Jira CHARON-469 for PM tracking

[2021-10-04 20:16] rjouhann opened #60 "unSupported: ltm monitor postgresql /Common/int-postgres-monitor"
### Environment
 * Application Services Version: ACC 1.15
 * BIG-IP Version: 15.1

### Summary
While trying to convert a virtual server using a custom monitor for postgresql, I am getting an unsupported object error from ACC. However, I am not sure what is exactly unsupported. Is it the entire monitor? or a specific attribute?

### Steps To Reproduce
Steps to reproduce the behavior:

1. Convert fo

[2021-10-04 21:24] delgadillo22 commented on #60
Thank you this is being tracked internally as CHARON-472

[2021-10-07 09:21] makagonr opened #61 "Expose "stdout/stderr" output via API"
### Is your feature request related to a problem? Please describe.
ACC produces output via conversion:
e.x.
[code]
Also sometimes there is a problem with the conversion. In such case, via CLI one can get an error.

It would be good to get such information also via API call

### Describe the solution you'd like
in a response
{
  "output": ...
  "stdout": "2021-10-07 09:19:20 INFO 107 BIG-IP objects

[2021-10-07 13:59] pun1sher opened #62 "User: anonymous is not authorized to perform: execute-api"
### Environment
 * Application Services Version: 3.22
 * BIG-IP Version:14

### Summary
I am trying to convert a bigip.conf file to AS3 declaration.
After running "docker run --rm -v %cd%:/app/data f5-as3-config-converter:v1.15.0 -o data/ae4.json -c data/bigip4.conf"
I get the following error message
2021-10-07 13:52:20 INFO 8 BIG-IP objects detected total
2021-10-07 13:52:20 INFO 8 BIG-IP objects

[2021-10-13 21:13] azahajkiewicz opened #63 "Add Charon support for the most common BIG-IP objects"
### Is your feature request related to a problem? Please describe.
Problem: help brownfield customers migrating to AS3.
Customer UCS database was used to gather statistics of most common ACC unsupported objects.
Because it's not clear whether --unsupported means not supported by ACC or AS3, please take a look of those and, if possible, add a support for the most common ones.

### Describe the solu

[2021-10-15 19:45] rjouhann opened #64 "Serverssl/trustCA/use: contains path to non-existent object none"
### Environment
 * Application Services Version: AS3.28, ACC 3.15 using Journeys 3.0.2
 * BIG-IP Version: 16.1

### Summary

When I try to convert the following server-ssl profile to AS3 using ACC and deploy that AS3 declaration to a BIG-IP, I am getting the following error message:

[code]

After manually removing ``ca-file none`` from the source big-ip.conf, things work fine.

### Steps To Repro

[2021-10-15 19:46] rjouhann opened #65 "Telemetry/requestSettings/requestPool/use: contains path to non-existent object telemetry"
### Environment
 * Application Services Version: AS3.28, ACC 3.15 using Journeys 3.0.2
 * BIG-IP Version: 16.1

### Summary

When I try to convert the following telemtry profile to AS3 using ACC and deploy that AS3 declaration to a BIG-IP, I am getting the following error message:

[code]

After manually removing ``request-log-error-pool none`` from the source big-ip.conf, things work fine.

### S

[2021-10-19 07:26] lukaszbrzosko opened #66 "If virtual-address section present in config processing fails."
### Environment
Application Services Version: 3.31.0
BIG-IP Version: 16.1.0

### Summary
If we include virtual-address in input file for charon - processing fails and there is no output file present.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Observe the following error message:
[code]

### Expected Behavior
Expect not to get an error.

### Act

[2021-10-19 18:18] mdditt2000 commented on #58
This issue can be closed as wontfix. Working as designed.

[2021-10-19 18:18] #58 closed

[2021-10-19 18:22] #62 closed

[2021-10-19 23:20] mdditt2000 commented on #64
CHARON-493 Jira created! remove TLS_Client.trustCA if value is "none"

[2021-10-19 23:22] mdditt2000 commented on #65
@rjouhann The ACC team has determined that the outputting to /Common/Shared was the intended behavior. Its up the migration tool or person whom is doing the migration to make the modification prior to declaring the JSON back to BIG-IP or they will get a 422

[2021-10-20 21:38] rjouhann commented on #65
Thanks @mdditt2000  @p-semenov-f5  my bad, for some reason, I thought the /Common/telemetry was a default profile. I will go ahead and close this bug.

[2021-10-20 21:38] #65 closed, assigned to nobody

[2021-10-20 23:03] mdditt2000 commented on #65
@rjouhann we just release v1.16 RC2 which has a fix for CHARON-467: (GitHub Issue 55): Improve handling when Common is empty. I will forward you the image.

[2021-10-22 08:20] lukaszbrzosko opened #67 "Http monitor password is not converted in proper way."
### Environment
Application Services Version: 3.31.0
BIG-IP Version: 14.1.4

### Summary
Http monitor password is not converted in proper way.

I found similar reported issue fixed for https monitor:
https://github.com/f5devcentral/f5-as3-config-converter/issues/43

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Observe the following converted outpu

[2021-10-26 10:55] mnaumiuk opened #68 "content of "known-methods" for ltm profile is not converted properly"
### Environment
 * Application Services Version: f5-appsvcs-3.31.0-6.noarch
 * BIG-IP Version: 15.1.3.1

### Summary
It seems "known-methods" for profiles is not converted properly

### Steps To Reproduce
Steps to reproduce the behavior:
1. The following config:
[code]

is converted TO:

[code]

2. Observe the following error message:
[code]

### Expected Behavior
"known-methods" should be convert

[2021-10-26 11:14] #68 closed, assigned to nobody

[2021-10-26 12:41] mnaumiuk opened #69 "no handling for "keep-alive-interval disabled" in fastl4 profile"
### Environment
 * Application Services Version: f5-appsvcs-3.31.0-6.noarch
 * BIG-IP Version: 15.1.3.1

### Summary
For fastl4 profile with "keep-alive-interval disabled" validation error "['/tenant_3/application_3/fastL4.FW_3.profile/keepAliveInterval: should be integer']" is returned.

### Steps To Reproduce

Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Observe the f

[2021-10-26 19:50] #66 closed, assigned to nobody

[2021-10-27 21:51] #56 closed, assigned to nobody

[2021-10-28 15:26] #69 closed, assigned to nobody

[2021-10-28 15:27] #67 closed, assigned to nobody

[2021-11-04 15:39] lukaszbrzosko opened #70 "md5-signature-passphrase option cause declaration failure in specific conditions."
### Environment
Application Services Version: 3.31.0
BIG-IP Version: 14.1.4

### Summary
Declaration deployment fail if tcp profile have those options:
md5-signature disabled
 md5-signature-passphrase none

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

result in:
[code]
2. Observe the following error message one declaration send to device:
[code]

###

[2021-11-08 11:09] lukaszbrzosko opened #71 "Objet in configuration gets reference to Shared location, like: "/CDP_300/Shared/policy_internal" they should not."
### Environment
Application Services Version: 3.31.0
BIG-IP Version: 16.1.0

### Summary
Some objet in configuration gets reference to Shared location - despite they are not in initial config.

Issue open per comment:
https://github.com/f5devcentral/f5-as3-config-converter/issues/59#issuecomment-952269676

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

[2021-11-08 17:01] mdditt2000 commented on #70
Jire filed CHARON-525 for ACC 1.17

[2021-11-08 19:48] mdditt2000 commented on #71
Cannot reproduce. Do not see policyEndpoint with reference to /Common/Shared

https://github.com/mdditt2000/f5-appsvcs-acc/tree/master/Github/71

Issue can be closed

[2021-11-08 19:48] mdditt2000 commented on #71
@lukaszbrzosko please validate that you using ACC 1.16

[2021-11-08 19:50] mdditt2000 commented on #61
Closing out. Provided information to team via JIRA

[2021-11-09 10:19] lukaszbrzosko commented on #71
Will do indeed in my repo it is 1.15 let me confirm if this is good on 1.16.

[2021-11-09 10:29] lukaszbrzosko commented on #71
You are correct there is no more such a statement ("policyEndpoint": "/CDP_300/Shared/policy_internal") in latest release.
In fact there is no entry for policy at all, will it not produce problem ? why this policy statement is gone ?

[2021-11-19 13:03] lukaszbrzosko opened #73 "andle wildcards in monitor destinations"
### Environment
 * ACC Version: 16.1.0
 * AS3 Version: 3.32.0
 * BIG-IP Version: 14.1.4

### Summary
If there is no Ip address given in alias for tcp ( and maybe others) monitor but port is defined there is a problem with convertions.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]
Converted to:
[code]

//////////////////OR :
[code]
Converted to:
[code]

[2021-11-19 18:49] sschadwick commented on #73
Issue forwarded to AS3 team: https://github.com/F5Networks/f5-appsvcs-extension/issues/528

[2021-11-19 18:49] #73 closed

[2021-11-22 15:37] azahajkiewicz commented on #61
@mdditt2000 Hi Mark, this Jira item doesn't look like a fix for the issue. Can you confirm it with the team?

[2021-11-23 17:29] sschadwick commented on #61
Jira issue created as CHARON-542.

[2021-11-30 21:26] mdditt2000 commented on #70
Merge branch 'CHARON-525-tcp-profile-md5-sig' into 'develop' - Closing issue

[2021-11-30 21:26] #70 closed

[2021-11-30 21:42] mdditt2000 commented on #71
It looks like ACC isn't aware of what policy is. It seems to be a internal traffic policy created in tenant /CDP_300

policies {
        /CDP_300/policy_internal { }
}

Can you provide me more details on the policies policy_internal. Most likely its a default policy.

[2021-12-03 17:36] p-semenov-f5 commented on #61
Hello!

Chariot is consuming stdout and stderr directly. Do you know about that? Can you use chariot api?

[2021-12-04 00:50] makagonr commented on #61
Hello,

We use the API, and we would like to get the content of stdout/stderr
generated by processing the request in order to show it to the user when
some objects are not compatible or we get 4xx/5xx http codes for some
reason.

Regards
Rafał Makagon

pt., 3 gru 2021 o 18:36 p-semenov-f5 ***@***.***> napisał(a):

[2021-12-08 17:51] DumpySquare opened #74 "[RFE] support iapp applications tmos configs"
### Is your feature request related to a problem? Please describe.
Current ACC engine does not support TMOS configs from iApps

### Describe the solution you'd like
Support converting of applications in iapp partition/folders

### Describe alternatives you've considered
a mass replace-all works well in vscode, but is an additional step and requires knowledge to implement

### Additional context
So

[2021-12-08 18:50] mdditt2000 commented on #74
@DumpySquare http iApp is support in ACC 1.17

Merge branch 'http_iapp' into 'develop'

Here is beta code - docker pull mdditt2000/f5-as3-config-converter

docker run --rm -v  "$PWD":/app/data f5-as3-config-converter:http_iapp -o data/iapp.json -c data/app.conf

[2021-12-08 19:24] mdditt2000 commented on #74
Converted above configuration

[code]
Output

[code]

[2021-12-09 18:06] mdditt2000 commented on #74
Closing coming in ACC 1.17

[2021-12-09 18:06] #74 closed

[2021-12-13 22:44] p-semenov-f5 commented on #61
Should be in ACC 1.17

[2021-12-13 22:44] #61 closed

[2021-12-17 11:56] mnaumiuk opened #75 "ACC does not convert empty monitor receive string into AS3 declaration"
### Environment
 * ACC Version: 1.17
 * AS3 Version: 3.33.0
 * BIG-IP Version: 14.1.4.4

### Summary
ACC does not convert empty HTTP monitor receive string ("recv none") into AS3 declaration, so AS3 will take the default one.
But the default AS3 receive string for HTTP monitor is “HTTP/1.”:
https://clouddocs.f5.com/products/extensions/f5-appsvcs-extension/latest/refguide/schema-reference.html?high

[2021-12-25 02:55] pmawan opened #76 "f5.chariot.convertDO failed with [TypeError: doc.getText is not a function"
### Environment
 * ACC Version: 1.17
 * AS3 Version:3.3.0
 * BIG-IP Version:16.1

### Summary
i get the following error when i try to convert a virtual server
f5.chariot.convertDO failed with [TypeError: doc.getText is not a function
9 [2021-12-25T02:53:57.496Z] [ERROR]: f5.chariot.convertAS3 failed with [TypeError: doc.getText is not a function
	at getEditorText (c:\Users\awan_m\.vscode\extension

[2021-12-25 11:13] DumpySquare commented on #76
Hi!  Can you provide a screenshot and/or a sanitized version of the application configuration?

[2021-12-25 11:22] DumpySquare commented on #76
And to be clear, this is probably an error with the vscode-f5-chariot project not this project.  Can you open this issue here: https://github.com/f5devcentral/vscode-f5-chariot?

[2021-12-25 22:18] pmawan commented on #76
thanks for the reply - ye - it is with VS code and i have added an issue to vs chariot

[2021-12-28 14:32] sschadwick commented on #76
Issue moved to f5devcentral/vscode-f5-chariot, marking as closed.

[2021-12-28 14:32] #76 closed

[2021-12-28 16:39] janrenard opened #77 "Error when -v option is used to filter output by virtual server name"
### Environment
 * ACC Version:1.1.17
 * AS3 Version: 3.33.0
 * BIG-IP Version: 14.1.4

### Summary
I'm trying to convert an existing F5 configuration into separate AS3 json files per virtual server.
But I get an error when filtering the output by application (ACC option -v <virtual servername>). Trying the conversion on the full config file produces a proper json output. Tested on both 1.1.16 and

[2022-01-04 21:23] mdditt2000 commented on #77
Jira CHARON-567 for PM tracking

[2022-01-04 21:25] mdditt2000 commented on #75
Jira CHARON-568 for PM tracking

[2022-01-04 21:27] mdditt2000 commented on #63
Created Spike CHARON-570 to re-visit the “supported/unsupported” option in ACC. Required by Journeys

[2022-01-12 17:37] p-semenov-f5 commented on #77
Fixed in 1.18

[2022-01-12 17:37] #77 closed

[2022-01-31 20:30] jszczepanski opened #78 "iRule regex parsing might cause an indefinite hang"
### Environment
 * ACC Version: 1.18
 * AS3 Version: N/A
 * BIG-IP Version: N/A

### Summary
Found in a client UCS archive.

Parsing the following conf file causes ACC to become unresponsive, likely stuck in an infinite loop with 100% CPU usage. The freeze seems to only happen when there's another `ltm rule` object somewhere after the one with this problematic regex, otherwise we get a regular exc

[2022-01-31 20:45] jszczepanski opened #79 "Strings containing braces might cause an indefinite hang"
### Environment
 * ACC Version: 1.18
 * AS3 Version: N/A
 * BIG-IP Version: N/A

### Summary
I've encountered this fun quoting corner case a while ago in a client UCS, only now tried to run it through ACC.

Brace matching might be broken in some strings-containing-braces scenarios, resulting in an indefinite freeze. Might be related to #78

### Steps To Reproduce
Steps to reproduce the behavior:
1

[2022-01-31 21:47] delgadillo22 commented on #78
Thank you for the report, I've added this to our internal backlog as CHARON-584 and will get this prioritized.

[2022-01-31 21:47] delgadillo22 commented on #79
Thank you for the report, I've added this to our internal backlog as CHARON-587 and will get this prioritized.

[2022-02-01 23:19] p-semenov-f5 commented on #78
Fixed in 1.19

[2022-02-01 23:19] #78 closed

[2022-02-04 16:46] p-semenov-f5 commented on #79
Fixed in 1.19

[2022-02-04 16:46] #79 closed

[2022-02-14 14:55] greaves-machine opened #80 "ACC hangs/loops"
Having done an 'explore config' in VS Code via the F5 extension, I select DO in the tree structure and right click the tmsh payload to 'Convert to DO'. f5.chariot.convertDO called but nothing happens.

I have to restart VS Code.

[2022-02-14 18:17] DumpySquare commented on #80
I've been experiencing this pretty consistently also.  Do we think it is fixed with this?  iRule regex parsing might cause an indefinite hang #78

[2022-02-14 21:55] mwardbopp commented on #80
Similar issues here as well, not complex configs in my case.

[2022-02-14 22:31] p-semenov-f5 commented on #80
could you provide config examples?

[2022-02-15 17:01] p-semenov-f5 commented on #80
Hello guys!

If you still have configs with hangs and loops, please provide.
I received only one config. And in result it was passed.

[2022-02-16 20:42] DumpySquare commented on #80
I've gone back through the conversions where I thought I was having problems and cannot get ACC to hang, so I guess I'm good on this front.  I presume a good ole update/reboot fixed it

[2022-02-17 10:38] mwardbopp commented on #80
This seems random, but it's happened on two different MAC's with two different UCS files not currently reproducible though. Every time logs are f5.chariot.* called, electron process on MAC spikes to 99->100% never recovers. Restart vscode and try it again and it works fine.

[2022-02-17 10:46] mwardbopp commented on #80
I have been able to reproduce a similar failure (Electron 100%, ACC unresponsive) trying to convert "Config Object Branch" into either AS3 or DO. My assumption is that this is failing because the config has both types (AS3/DO) inside of it, but instead of failing gracefully it just hangs.

[2022-02-18 10:26] BarryHaines opened #81 "Support for multiple virtual server or partitions filter"
### Is your feature request related to a problem? Please describe.
The virtual server filter for conversion only supports 1 virtual server and doesn't support filtering for a partition unless I only provide the .conf file with the specific configuration but this can be complicated in an automated process to get just this information, our automation steps include just downloading the UCS file.

###

[2022-02-18 15:57] BarryHaines commented on #81
Hi Roman,

I have looked at f5-journey but it doesn't look like it has an REST-API, I only see a webgui for this tool and I haven't found any documentation that provides API usage details.

Regards,

Barry

[2022-02-18 16:35] rjouhann commented on #81
Hello,

f5-journeys also have APIs, we should do a better job documenting those (will make sure we update the readme).

You can import the [openapi-schema.yaml](https://raw.githubusercontent.com/f5devcentral/f5-journeys/main/openapi-schema.yaml) into a [swagger](https://editor.swagger.io/).

<img width="1546" alt="Screen Shot 2022-02-18 at 8 33 33 AM" src="https://user-images.githubusercontent.com

[2022-02-21 08:08] lukaszbrzosko commented on #71
This policy is defined in bigip.conf file of partition CDP_300 itself:

ltm policy /CDP_300/policy_internal {
    controls { forwarding }
    requires { http }
    rules {
        "Test Redirect" {
            actions {
                0 {
                    http-reply
                    redirect
                    location /Test/
                }
            }
            conditions {

[2022-02-24 18:37] mdditt2000 commented on #80
@greaves-machine please can you reach me at m.dittmer@f5.com We need the original configuration you used.

Thanks Mark

[2022-02-24 18:39] mdditt2000 commented on #81
@BarryHaines do you have sometime to chat? I would like to show you another tool shown in the following demo https://youtu.be/sOBHv38xXNc

[2022-02-24 18:42] mdditt2000 commented on #75
tmsh is set to none, ACC will follow. When TMSH is set to none, ACC will not output that property. ACC is working correctly.  Closing github issues

[2022-02-24 18:44] mdditt2000 commented on #71
@lukaszbrzosko please send me the entire bigip.conf. You can email me at m.dittmer@f5.com

[2022-02-25 15:52] BarryHaines commented on #81
@mdditt2000 thanks for the video, I will contact you directly to discuss further.

[2022-03-09 15:02] jrmann1999 opened #82 "TLS1.0 in Certificate Name does not convert properly"
### Environment
 * ACC Version: 1.18.0
 * AS3 Version: Latest
 * BIG-IP Version: 16.x

### Summary
When doing an ACC conversion from bigip->AS3, if the certificate profile name has TLS1.0 in the name, it does not convert to AS3 (the declaration is missing from the VIP)

### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Observe the following error messa

[2022-03-09 23:22] mdditt2000 commented on #80
Closing issue. Please use the latest ACC release 1.19. Reach out to me if you have any issues.

[2022-03-09 23:22] #80 closed

[2022-03-09 23:23] mdditt2000 commented on #81
Closing issue. Please reach out if you have any questions

[2022-03-09 23:23] #81 closed

[2022-03-10 17:27] p-semenov-f5 commented on #82
Jira issue created for that:
https://jira.pdsea.f5net.com/browse/CHARON-621

[2022-03-11 14:28] mwardbopp opened #83 "AS3 Conversion Bug Declaration shortened to Dec"
### Environment
 * ACC Version: 1.18
 * AS3 Version: 3.34
 * BIG-IP Version: 16.1.0

### Summary
When converting TMOS config w/ ACC I get this:

    "$schema": "https://raw.githubusercontent.com/F5Networks/f5-appsvcs-extension/master/schema/latest/as3-schema.json",
    "class": "AS3",
    "dec": {

instead of

    "$schema": "https://raw.githubusercontent.com/F5Networks/f5-appsvcs-extension/master

[2022-03-11 15:18] mwardbopp opened #84 "Publish 1.19 to vscode extension marketplace"
I can only see 1.18 in marketplace for vscode

https://marketplace.visualstudio.com/items?itemName=F5DevCentral.vscode-f5-chariot

[2022-03-11 15:32] DumpySquare commented on #84
thanks.  this is on my list to get done

[2022-03-12 13:25] DumpySquare commented on #83
this bug affects the vscode extension, which looks for the "declaration" object to inject the atc agent and does successfully process with AS3.  AS3 post error below;

[code]

[2022-03-12 13:29] DumpySquare opened #85 "v1.19.0 DO convert fails with stack trace"
### Environment
 * ACC Version:  1.19.0
 * AS3 Version:  n/a
 * BIG-IP Version:  12.x?

### Summary
DO conversion results in stack error

### Steps To Reproduce

Below is my general test config found here:  https://github.com/DumpySquare/f5-fasting/blob/master/ACC/base_do.conf
Steps to reproduce the behavior:
1. Convert following config:
[code]

2. Observe the following error message:
[code]

###

[2022-03-14 15:47] BarryHaines opened #86 "ServerTLS missing from conversion when using RESTAPI vsName filter"
### Environment
 * ACC Version: 1.19
 * AS3 Version: 3.35.0
 * BIG-IP Version: 16.1.0 and 14.1.1.4

### Summary
When using the filter --form "vsName=virtualserver" in the curl command on a Virtual server that has a ClientSSL profile the ServiceHTTPS has the serverTLS property missing but the serverTLS profile is included in the AS3 declaration even if it isn't referenced after the conversion.   If

[2022-03-16 21:43] p-semenov-f5 commented on #85
Did you try to convert without chariot?

I don't see that error during DO convertion:

2022-03-16 14:36:10 INFO 23 BIG-IP objects detected total
2022-03-16 14:36:11 INFO 11 DO stanzas generated

[2022-03-16 22:06] mdditt2000 commented on #86
Jira for PM tracking Charon-623

[2022-03-17 11:34] DumpySquare commented on #85
yes, it seems the docker conversion works.  ACC 1.19 AS3 conversion through chariot also works.  Do we know what might be the difference?

This shows the output of converting the above base config with for AS3 (expected->empty declaration)
![image](https://user-images.githubusercontent.com/3260966/158800050-5543c23b-6763-4067-9205-628c870e94c1.png)

this shows the function call and input
![image](

[2022-03-17 16:42] p-semenov-f5 commented on #85
I don't know about Chariot. It is not our project.

[2022-03-17 17:22] p-semenov-f5 commented on #85
It is working for chariot 1.18:

1 [2022-03-17T17:12:07.773Z] [INFO]: ACC Details:  {
  name: 'f5-automation-config-converter',
  author: { name: 'F5 Networks' },
  description: 'F5 Automation Config Converter',
  version: '1.18.0',
  license: 'Apache-2.0',
  repository: 'git+https://github.com/f5devcentral/f5-automation-config-converter.git'
}
<...>
5 [2022-03-17T17:12:08.632Z] [INFO]: f5 atc sch

[2022-03-17 18:54] p-semenov-f5 commented on #85
Note for others:
We found that issue coming from different node versions. I used v16.13.1.

In old node version you could get element by index:  a[-1]
In new version you should use:                                    a.at(-1)

[2022-03-17 22:05] DumpySquare commented on #83
With the help of @p-semenov-f5, we found that this is happening in vscode.  I will have a fix out shortly.

Tracked here:  https://github.com/f5devcentral/f5-conx-core/issues/20

Will close everything once fixed

[2022-03-18 12:51] DumpySquare commented on #83
fixed in vscode-f5 pending v3.6.1 release.  please close

[2022-03-18 18:14] #83 closed

[2022-03-21 16:29] p-semenov-f5 commented on #86
Could you provide UCS file here for test. Because having only VS is not enough to understand the issue.

And absent of other configs making that vs invalid:

2022-03-21 09:27:30 WARN UNRECOGNIZED LINE:
2022-03-21 09:27:30 WARN Invalid reference dropped: /Common/pr_clissl_test01
2022-03-21 09:27:30 ERROR Error converting: ltm virtual /Common/vs_as3mig_443
2022-03-21 09:27:30 INFO 1 BIG-IP objects d

[2022-03-21 16:38] #82 closed

[2022-03-21 16:39] p-semenov-f5 commented on #85
fixed in 1.20

[2022-03-21 16:39] #85 closed

[2022-03-21 20:12] mdditt2000 commented on #71
@lukaszbrzosko ACC does convert the above policy is specified in the bigip.conf

[code]
The bigip.conf file i received has no reference to the above policy. If the policy is missing and only imput is

[code]
ACC will simply just ignore. Validated using ACC 1.19. Closing this issue

[2022-03-21 20:12] #71 closed

[2022-03-21 21:24] p-semenov-f5 commented on #86
I got ucs file. Working with it

[2022-03-23 18:54] p-semenov-f5 commented on #86
Fixed in 1.20

[2022-03-23 18:54] #86 closed

[2022-03-25 12:02] DumpySquare commented on #84
vscode-f5-chariot v1.19.2 has been published to the marketplace:

[F5 ACC Chariot - Visual Studio Marketplace](https://marketplace.visualstudio.com/items?itemName=F5DevCentral.vscode-f5-chariot)

[2022-03-28 15:38] #84 closed, assigned to nobody

[2022-03-28 15:38] p-semenov-f5 commented on #84
done

[2022-04-14 10:21] mnaumiuk opened #87 "ACC does not include HTTPS (443) port in the prepared declaration"
### Environment

 * ACC Version: latest (1.19.2)
 * AS3 Version: 3.33.0
 * BIG-IP Version: 14.1.4.4 & BIG-IP NEXT

### Summary

When a Virtual Server is configured with both:
- default HTTPS (443) port
- and HTTP profile
there is no virtualPort key in the output produced by ACC.

This declaration can be successfully deployed by AS3 on both BIG-IP and BIG-IP NEXT but it is not working on BIG-IP NEX

[2022-04-14 10:25] mnaumiuk commented on #87
AS3 schema for BIG-IP includes the defaults for virtualPort in Service_HTTPS class: [https://clouddocs.f5.com/products/extensions/f5-appsvcs-extension/latest/refguide/schema-reference.html#service-https](https://clouddocs.f5.com/products/extensions/f5-appsvcs-extension/latest/refguide/schema-reference.html#service-https)

[2022-04-15 16:24] mdditt2000 commented on #75
Revisiting
[code]
converted as3 json

[code]
Since TMSH is inputting none, ACC doesn't make any modifications

Here is the default

[code]

[2022-04-15 16:44] mdditt2000 commented on #75
![image](https://user-images.githubusercontent.com/12733938/163597558-36cb227e-396a-4541-9e4f-36ad60ecd713.png)

https://github.com/mdditt2000/f5-appsvcs-acc/blob/master/Github/75/as3-default.json

default "receive": "HTTP/1.",

Changing “recv none” to “receive”: “” is a schema change.

[2022-04-20 18:06] sschadwick commented on #87
Unless specified otherwise, ACC will use the AS3 schema to remove default values from the results to reduce the amount of noise. This behavior can be overridden using the `--extended` flag.

[2022-04-21 21:21] mdditt2000 commented on #75
re-opening

[2022-04-28 16:06] p-semenov-f5 commented on #87
With --extended port is available in AS3 declaration

`{
    "class": "ADC",
    "schemaVersion": "3.36.0",
    "id": "urn:uuid:e06fc34a-231e-47f1-b779-245ebf46b0c2",
    "label": "Converted Declaration",
    "remark": "Generated by Automation Config Converter",
    "Common": {
        "class": "Tenant",
        "Shared": {
            "class": "Application",
            "template": "shared",

[2022-04-28 16:07] #87 closed

[2022-05-03 09:26] Maxximouss opened #88 "ACC missing TCP Profile values after conversion"
### Is your feature request related to a problem? Please describe.
When I am converting configuration to AS3 declaration, I noticed that some elements are not supported by ACC Converter, like TCP Profiles inside virtual server configuration (tcp-f5-wan and tcp-f5-lan)

Original app.conf :
[code]

AS3 Converted Declaration :
[code]

### Describe the solution you'd like
I would like to obtain the AS

[2022-05-03 21:49] p-semenov-f5 commented on #88
Looks like a bug:
2022-05-03 13:48:07 WARN Invalid reference dropped: /Common/f5-tcp-lan
2022-05-03 13:48:07 WARN Invalid reference dropped: /Common/f5-tcp-wan

Will investigate that.

[2022-05-04 20:05] p-semenov-f5 commented on #75
Fixed in 1.21

[2022-05-04 20:05] #75 closed

[2022-05-04 20:06] p-semenov-f5 commented on #88
Fixed in 1.21

[2022-05-04 20:06] #88 closed

[2022-05-04 21:03] mdditt2000 commented on #63
This can be closed! Added to ACC 1.20

[2022-05-04 21:03] #63 closed

[2022-05-05 07:17] Maxximouss commented on #88
Thanks for your help

[2022-06-24 14:13] BarryHaines opened #89 "TCP profile Ingress and Egress"
### Environment
 * ACC Version: Latest
 * AS3 Version: 3.35.0
 * BIG-IP Version: 16.1.0 and 14.1.4.6

### Summary
When converting a virtual server that has a separate clientside/serverside tcp profile the AS3 conversion only has the egress configuration and this fails to deploy to the BIG-IP because the ingress tcp profile is required but doesn't exist in the AS3 configuration.

### Steps To Repro

[2022-06-24 18:44] mdditt2000 commented on #89
@BarryHaines looking to this issue. Here is my contact if you need to send me any additional information automation_toolchain_pm@f5.com

[2022-06-24 19:47] mdditt2000 commented on #89
@BarryHaines can you email me your qkview or bigip.conf. TMOS configuration above is break ACC using Docker/VScode. I file Jira CHARON-692

[2022-06-28 15:46] mdditt2000 commented on #89
@BarryHaines thanks for the configuration

I validated the configuration using your UCS file and i do see the correct TCP policy

[code]
I will send you the converted file.

[2022-06-29 21:03] mdditt2000 commented on #89
Current version of ACC 1.21 works as expected. Closing issue. Thanks @BarryHaines please continue to open issue!

[2022-06-29 21:03] #89 closed

[2022-08-03 21:10] nwehrman opened #90 "Error - Missing or mis-indented '}' for line: ' order-info "{' - appears related to cert-order-manager"
### Environment
 * ACC Version: Latest 1.22.0
 * AS3 Version: 3.36.1
 * BIG-IP Version: 15.1.6

### Summary
A clear and concise description of what the bug is.
Please also include information about the reproducibility and the severity/impact of the issue.

### Steps To Reproduce
Steps to reproduce the behavior:
1. Place this code inside bigip.conf

sys crypto cert-order-manager /Common/Cert_Manage

[2022-08-03 22:30] mdditt2000 commented on #90
Afternoon @nwehrman Please can you send/point me to your **bgp_test.ucs** file. Reach out to me at automation_toolchain_pm@f5.com

[2022-08-09 17:36] kyleklabunde opened #91 "when converting TMOS to AS3, servers in the pool do not show their server names"
### Is your feature request related to a problem? Please describe.
I am frustrated when i use ACC Chariot to convert TMOS code into JSON in that the pool members are not broken out with their server names.

### Describe the solution you'd like
It would be nice when you use the AS3 conversion that the server names are populated. THis saves time in having to find the server names to put a name to an

[2022-08-09 18:23] mdditt2000 commented on #91
@kyleklabunde is the default behavior

[code]

If you use expanded mode in VScode after AS3 deployment you will get

[code]

Can you give that a try?

[2022-08-09 18:33] kyleklabunde commented on #91
what is expanded mode? i currently am having to manually make the change to the 2nd part.

[2022-08-09 19:18] DumpySquare commented on #91
Hey @mdditt2000, I think @kyleklabunde is looking to get ACC to output the pool members with hostname and IP/port so that information is not lost in the as3 declaration.  Without ACC capturing that information, it will never make it into the declaration.  Kyle is adding this information manually.

[2022-08-09 19:49] mdditt2000 commented on #91
Got it!! Let me look into this! Request was asked by @rjouhann before.

[2022-08-15 17:30] mdditt2000 commented on #90
Created CHARON-729 for PM tracking

[2022-09-04 17:02] azahajkiewicz opened #92 "When using --next switch, schema version is not updated"
### Environment
 * ACC Version: 1.23

### Summary
1.22 introduced schema validation for BIG-IP Next. When using "--next=true",  schema version in the output should return schema used for Next generation, but it still returns schema as for classic.
,
### Steps To Reproduce
Steps to reproduce the behavior:
1. Convert following config with:
a) curl localhost:8080/converter -kX POST  --form "ucs=@<any

[2022-09-12 19:47] mdditt2000 commented on #92
Thanks @azahajkiewicz for opening this issue. Created Jira CHARON-745 and added to the next sprint

[2022-09-12 21:28] p-semenov-f5 commented on #92
I couldn't reproduce that from first glance:

ite_server2: ~/CHARON/source [develop] # node ./init -c ../IN/next/tt.conf -o ../OUT/next/test.json
2022-09-12 10:10:09 INFO 4 BIG-IP objects detected total
2022-09-12 10:10:09 INFO 4 BIG-IP objects recognized by AS3
2022-09-12 10:10:09 INFO 4 BIG-IP objects supported by ACC
2022-09-12 10:10:09 INFO 3 AS3 stanzas generated
ite_server2: ~/CHARON/source

[2022-09-12 21:34] p-semenov-f5 commented on #92
And also we take version from here, there is no 3.39 inside:

  schemaVersion: {
    title: 'Schema version',
    description: 'Version of ADC Declaration schema this declaration uses',
    type: 'string',
    '$comment': 'IMPORTANT: In enum array, please put current schema version first, oldest-supported version last.  Keep enum array sorted most-recent-first.',
    enum: [
      '3.27.0', '3.26.

[2022-09-12 22:15] p-semenov-f5 commented on #92
No repro through the server requests:

ite_server2: ~/CHARON/source [develop] # curl localhost:8080/converter -X POST --form "conf=@../IN/next/tt.conf" --form "output=tt_http2.json" |jq . | grep "schemaVersion"
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3078  100   900  100  2178

[2022-09-20 18:49] p-semenov-f5 commented on #91
So that task can be solved only for 'static' nodes. No way to set name for 'fqdn' nodes.

AS3 has 'fqdnPrefix', but it will generate names like 'server_4example.com' instead of 'server_4' with host 'example.com'.

Do you require something for 'fqdn'?

[2022-09-26 21:23] p-semenov-f5 commented on #92
Right now I can see that problem again in develop:

ite_server2: ~/CHARON/source [develop] # node ./init -c ../IN/next/tt_tcp.conf -o ../OUT/next/test.json --next
2022-09-26 14:16:39 INFO AS3 Next conversion enabled
{
  title: 'Schema version',
  description: 'Version of ADC Declaration schema this declaration uses',
  type: 'string',
  '$comment': 'IMPORTANT: In enum array, please put current sch

[2022-09-26 22:06] #92 closed

[2022-10-13 13:02] wiksla opened #93 "Renaming a pool object without renaming its reference"
### Environment
 * ACC Version: 1.23.0
 * AS3 Version: 3.23.0
 * BIG-IP Version: any

### Summary
ACC renames a pool, but doesn't rename a reference inside another object.

### Steps To Reproduce

Steps to reproduce the behavior:
1. Convert a config containing following:
[code]

2. Observe the following output:
[code]

### Expected Behavior
Correct reference to `pool_telemetry_dup` within `profile

[2022-10-14 04:09] mdditt2000 commented on #93
@wiksla please reach out to me automation_toolchain_pm@f5.com so i can understand you conversion/migration and prioritize this bug

[2022-10-18 12:26] azahajkiewicz commented on #93
Hi Mark, in the classic config there is a profile and a pool named with the same name: telemetry.
Because of that, ACC renamed those objects by adding: **{classType}_**telemetry**_dup**.
While renaming class names, one reference was not updated (requestPool), so we ended up with:

[code]